In [2]:
import pandas as pd

# Load the CSV
df = pd.read_csv(r"C:\Users\ASUS\Downloads\employee.csv", parse_dates=["Date of Joining"], dayfirst=True)

In [3]:
df

      EID      Employee Name Gender   Salary Date of Joining   Department
0   E123D        Nitin Bhole      M  1900000      2016-11-01     Products
1   E876G     Mayur Kulkarni      M  1200000      2016-06-03    Semantics
2   E798G      Anurag Pandey      M  1200000      2016-07-04           IT
3   E123B      Pankaj Bansal      M   900000      2015-12-01     Research
4   E098Z    Rajendra Prabhu      M  1000000      2015-11-11    Semantics
5   E294M     Sumanth Mishra      M  1800000      2017-09-04     Research
6   E972L          Sai Bodha      M  1100000      2017-11-11    Semantics
7   E184A  Kushmakar Krishna      M  1100000      2015-01-01     Products
8   E104S     Amarnath Patil      M   600000      2015-11-29  Engineering
9   E093V   Shashidhar Reddy      M   700000      2018-11-29  Engineering
10  E983Q     Chakshu Bansal      F   300000      2017-12-04     Products
11  E092E       Mitali Gupta      F  1600000      2019-05-02    Semantics
12  E620Y     Kumar Abhishek      M  1100000      2014-12-01    Semantics
13  E109U     Sanket Gibbidi      M  5000000      2019-01-11     Products

In [4]:
# 1. Greet employee by EID with their first name and salutation
def greet_employee(eid):
    emp = df[df['EID'] == eid]
    if emp.empty:
        return "Employee not found."
    
    name = emp.iloc[0]['Employee Name']
    gender = emp.iloc[0]['Gender']
    first_name = name.split()[0]

    if gender.lower() == "male":
        return f"Hello, Mr {first_name}"
    elif gender.lower() == "female":
        return f"Hello, Ms {first_name}"
    else:
        return f"Hello, {first_name}"

In [8]:
greet_employee("E123D")

'Hello, Nitin'

In [5]:
# 2. Calculate average salary of each department
def average_salary_by_department():
    return df.groupby("Department")["Salary"].mean()

In [6]:
# 3. Given an EID, return name, joining date, and department
def employee_details(eid):
    emp = df[df['EID'] == eid]
    if emp.empty:
        return "Employee not found."
    
    name = emp.iloc[0]["Employee Name"]
    doj = emp.iloc[0]["Date of Joining"].strftime("%d-%m-%Y")
    dept = emp.iloc[0]["Department"]
    return f"{name} | {doj} | {dept}"

In [9]:
employee_details("E123D")

'Nitin Bhole | 01-11-2016 | Products'

In [7]:
# 4. Sort employees from oldest to newest
def sort_by_joining_date():
    sorted_df = df.sort_values(by="Date of Joining")
    return sorted_df[["EID", "Employee Name", "Date of Joining"]]